* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

:root {
    /*theme */
    --bg-color: #343434;
    --text-color: #ffffff;

}

/* scroll bar*/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 4px;
}



/* Body */

body {
    font-family: "Ubuntu Mono", serif;
    background: var(--bg-color);
    color: var(--text-color);

}

/* Fonts */

h1 {
    font-size: 68px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 26px;
    font-weight: 700;
}

p {
    font-size: 22px;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* Header */

#navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    transition: height 0.5s ease;
    /* Stretch to the edges */
    margin: auto;
    /* Remove auto margin */
    background-color: #484848;

    position: fixed;
    top: 0;

    z-index: 9998;
}

#navbar-menu.shrink {
    height: 56px;
}



#navbar-menu h2 {
    transition: transform 0.3s;
    margin: 20px;
    font-size: 26px;
}



#navbar-menu h2:hover {
    transform: scale(1.10);

    /* Slightly enlarge on hover */
}


#navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 20px;
}

#navbar-menu ul li:hover {
    transform: scale(1.10);
    /* Slightly enlarge on hover */
}

#navbar-menu ul li {
    list-style-type: none;
    transition: transform 0.3s;
}

#navbar-menu ul li h2 {
    margin: 0px;
}



#navbar-menu .hide-on-mobile {
    display: none;
}

#navbar-menu .hide-on-laptop {
    display: flex;
    width: 25px;
    height: 25px;
}

#navbar-menu svg {
    fill: var(--text-color);
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}

.current-page {
    text-decoration: underline;
}


/* Dropdown navigation */

#dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin: auto;
    z-index: 999;
    background-color: var(--bg-color);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9999;
}

#dropdown-menu #top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#dropdown-menu h2 {
    font-size: 26px;
    height: 25px;
    margin: 20px;
    margin-bottom: 0px;
}

#dropdown-menu svg {
    fill: var(--text-color);
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
}

#dropdown-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
}

#dropdown-menu ul li {
    list-style-type: none;
}

#dropdown-menu ul li h2 {
    margin: 0px;
}

.current-page {
    text-decoration: underline;
}

/* Laptop sizing for nav bar */
@media only screen and (min-width: 768px) {
    #navbar-menu .hide-on-mobile {
        display: flex;
    }

    #navbar-menu .hide-on-laptop {
        display: none;
    }
}

/* Home page */
#home-page {
    display: flex;
    justify-content: center;
    margin-top: 39vh;
    margin-bottom: 41vh;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}


#home-page.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 768px;
    /* Maximum width */
}

.home-content-title {
    flex: 1;
    padding-right: 20px;
    /* Space between description and links */
}

.home-content-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-content-links a {
    margin-bottom: 1.5vh;
    /* Space between links */
    text-decoration: none;
    color: var(--text-color);
    /* LinkedIn color */

    transition: transform 0.3s;
}


.home-content-links a:hover {
    transform: scale(1.15);
    /* Slightly enlarge on hover */
}

.home-about-button {
    display: inline-block;
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: 10px 20px;
    background-color: #484848;
    transition: transform 0.3s;
    border-radius: 20px;
}

.home-about-button:hover {
    transform: scale(1.15);
    /* Slightly enlarge on hover */
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }

    #home-page {
        margin-top: 24vh;
        margin-bottom: 23vh;
    }

    .home-content {
        flex-direction: column;
        align-items: flex-start;
    }
}

/* about page */


#about-title {
    text-align: center;
    margin-top: 27vh;
    margin-bottom: 3.5vh;
}

#about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 39vh;
}



.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    /* Maximum width */
}

/* Introduction Section */
.about-introduction h3 {
    text-align: center;
}

.about-introduction {
    flex: 1;
    min-width: 300px;
    padding: 1vh;
}

.about-introduction h3 {
    margin-bottom: 10px;
}

.resume {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #484848;
    transition: transform 0.3s;
    border-radius: 50px;
}

.resume:hover {
    transform: scale(1.15);
}

/* Skills Section */
.about-skills {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-list {
    flex: 1;
    text-align: center;
    min-width: 200px;
    padding: 10px;
}

.skill-list p {
    padding-bottom: 20px;
}

.about-skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #484848;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-button:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.1);
}

/* Responsive Adjustments for about page */
@media only screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .skill-list {
        width: 100%;
        text-align: left;
    }

    .about-introduction h3 {
        text-align: left;
    }

    .about-skills ul {
        justify-content: left;

    }

    #about-title {
        margin-top: 7vh;
    }

    .about-introduction {
        margin-bottom: 3vh;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
    }

    h3 {
        font-size: 22px;
        font-weight: 700;
    }

    p {
        font-size: 18px;
        line-height: 1.3;
    }
}

/* project page */
#project-title {
    text-align: center;
    margin-top: 28vh;
    margin-bottom: 3.5vh;
}

#project-page {
    text-align: center;
}

/* Responsive Adjustments for about page */
@media only screen and (max-width: 768px) {
    #project-title {
        margin-top: 8vh;
        margin-bottom: 3vh;
    }
}